<div class="textfield {{status}}">
    <label for="{{for}}" class="textfield__label">{{label}}</label>
    <div class="textfield-wrap">
        <input id="{{id}}" name={{name}} type={{type}} class="textfield__input" placeholder="{{placeholder}}">
        <span class="textfield__error">Invalid data</span>
    </div>
</div>